<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kayani</title>
    {{ content_for_header }}
    {% style %}
       :root {
         --font-body-family: {{ settings.body_font }};
         --font-heading-family:{{ settings.header_font }};
         --page-width: {{ settings.page_width }}px;
         --collections-width: {{ settings.collections_width }}px;
         --color-dark:{{ settings.dark }};
         --color-light:{{ settings.light }};
         --color-accent:{{ settings.accent }};
         --color-beige:{{ settings.beige }};
         --color-brown:{{ settings.brown }};

      }

       /* Reset */
       *,
       *::before,
       *::after {
         box-sizing: inherit;
       }

       html {
         box-sizing: border-box;
         height: 100%;
       }


       body {
         max-width: 1920px;
         min-height: 100%;
         margin: 0;
         font-size:var(--font-body-size);
       }

       img,
       svg {
         display: block;
         width: 100%;
       }

       button,
       input,
       select,
       textarea {
         outline: none;
         border: none;
         background: transparent;
       }

       a {
         text-decoration: none;
       }

       li {
         list-style: none;
       }
    {% endstyle %}

    {{ 'base.css' | asset_url | stylesheet_tag }}
  </head>
  <body>
    {% sections 'header-group' %}
    {{ content_for_layout }}
  </body>
</html>
