<nav class="width">
  <a href="#" class="menu-bar">
    <i> M </i>
  </a>
  <a href="/" class="header-logo">
    <img
      src="{{ settings.logo | image_url }}"
      width="{{ section.settings.logo_width }}"
      height="auto"
      alt="{{ shop.name }}"
      loading="lazy"
    >
  </a>

  <a href="#" class="mobile-cart">
    <i>
      {% render 'icon-cart' %}
    </i>
  </a>

  <div class="desktop-menu">
    <ul class="header-nav">
      {% for link in section.settings.navigation.links %}
        <li>
          <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
      {% endfor %}
    </ul>
    <ul class="icon-links">
      <li>
        <a href="#">{% render 'icon-search' %}</a>
      </li>
      <li>
        <a href="#">
          {% render 'icon-profile' %}
        </a>
      </li>
      <li class="cart">
        <p>CART</p>
        <span>{% render 'icon-cart' %}</span>
        <span class="cart-count">0</span>
      </li>
    </ul>
  </div>
</nav>

{% schema %}
{
  "name": "Header",
  "tag": "header",
  "class": "header",
  "settings": [
    {
      "type": "link_list",
      "id": "navigation",
      "label": "Navigation menu",
      "default": "main-menu"
    }
  ]
}
{% endschema %}
