<div class="width">
  <a href="/" class="header-logo">
    <img
      src="{{ settings.logo | image_url }}"
      width="{{ section.settings.logo_width }}"
      height="auto"
      alt="{{ shop.name }}"
      loading="lazy"
    >
  </a>
</div>
<style>
  .width {
    width: min(95%, {{settings.page_width}}px);
  }
</style>

{% style %}
  header {
    padding: 9px 0;
    border-bottom: 1px solid #cccccc;
  }

  .header-logo{
    max-width:{{ settings.logo_width }}px;
    display:block;
  }
{% endstyle %}

{% schema %}
{
  "name": "Header",
  "tag": "header",
  "class": "header"
}
{% endschema %}
